html,
body {
    margin: 0;
}

.page404 {
    padding: 20px 24px;
}

.main-title {
    margin: 0;

    width: 133px;
    height: 25px;

    font-size: 22px;
    font-family: "Inconsolata SemiCondensed";

    line-height: 25px;
    text-transform: uppercase;
}

.scarecrow {
    width: 286px;
    margin: 0 20px;
    margin-top: 64px;
}
