html,
body {
    margin: 0;
}

.page404 {
    display: flex;
    flex-direction: column;

    padding: 20px 24px;
}

.main-title {
    margin: 0;

    width: 133px;
    height: 25px;

    font-size: 22px;
    font-family: "Inconsolata SemiCondensed";

    line-height: 25px;
    text-transform: uppercase;
}

.scarecrow {
    width: 286px;
    margin: 0 20px;
    margin-top: 64px;
}

.bad-news-description, .bad-news {
    margin: 0;
    font-family: 'Space Mono';
}

.bad-news {
    margin-top: 60px;

    font-weight: 700;
    font-size: 44px;
}
.bad-news-description {
    margin-top: 30px;
    
    font-weight: 400;
    font-size: 18px;
}

.home-button {
    margin-top: 68px;
    width: 216px;
    height: 68px;

    text-transform: uppercase;
    font-family: 'Space Mono';

    color: #fff;
    background-color: #333;
}

.copyright {
    margin-top: min(115px);
    margin-bottom: 24px;

    align-self: center;
}

.created-by {    
    margin: 0;
    text-align: center;

    font-size: 14px;
    font-family: 'Montserrat';

    color: #BDBDBD;
}

.created-by .username {
    font-weight: 700;
}

@media all and (min-width: 768px){
    .page404 {
        padding: 40px 70px;

        flex-direction: column;
    }

    .main-info-container {
        display: flex;
        flex-direction: row;
    }
    .scarecrow {
        width: 540px;
    }

}